@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  margin: 0;
  font-family:  'Roboto Condensed', sans-serif;
}

main{
  background-color: rgb(234, 234, 234);
  display: flex;    
  justify-content: center; 
  
}
.top-container{
  width: 50%;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;

}
.slice{
  text-align: center;
}
.slice.black{
background-color: rgb(48, 44, 44);
color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
}
.img-card{
  width: 100%;
  height: auto;   
}

a:link{
  text-decoration: none;
  color: #ffffff
}
a:visited{
  color:rgb(224, 188, 140)
}